############
# Docker    #
############

export CONTAINER_NAME=oracle

############
# Roles    #
############

# Administrator
export ORACLE_ADMINISTRATOR_NAME=system
export ORACLE_ADMINISTRATOR_PASSWORD=administrator_password

# Nominal
export ORACLE_USER_NAME=username
export ORACLE_USER_PASSWORD=password

# Test
export ORACLE_TEST_USER_NAME=test
export ORACLE_TEST_USER_PASSWORD=password

############
# Database #
############
export ORACLE_PLUGGABLE_DATABASE_NAME=FREEPDB1

############
# Network  #
############
export ORACLE_PORT=1521

############
# Client   #
############

export CONNECTION_STRING_ADMINISTRATOR=`echo $ORACLE_ADMINISTRATOR_NAME/$ORACLE_ADMINISTRATOR_PASSWORD@//localhost:$ORACLE_PORT/$ORACLE_PLUGGABLE_DATABASE_NAME`;
export CONNECTION_STRING=`echo $ORACLE_USER_NAME/$ORACLE_USER_PASSWORD@//localhost:$ORACLE_PORT/$ORACLE_PLUGGABLE_DATABASE_NAME`;
export CONNECTION_STRING_TEST=`echo $ORACLE_TEST_USER_NAME/$ORACLE_TEST_USER_PASSWORD@//localhost:$ORACLE_PORT/$ORACLE_PLUGGABLE_DATABASE_NAME`;