# Roles
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password
export POSTGRESQL_POSTGRES_PASSWORD=admin_password

# Database
export POSTGRESQL_DATABASE_NAME=database
export POSTGRESQL_DATABASE_NAME_DUMP=demo
export POSTGRESQL_DATABASE_NAME_FLIGHT=flight
export POSTGRESQL_EXPOSED_PORT=5432

# Client
export CLIENT_APPLICATION_NAME=batch-queries-postgresql

# Connexion
export CONNECTION_STRING=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_FLIGHT=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME_FLIGHT user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_ADMIN=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME_FLIGHT user=postgres password=$POSTGRESQL_POSTGRES_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;


# Colima
export COLIMA_CPU=10
export COLIMA_MEMORY=32
