############
# Roles    #
############

# Administrator
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password

############
# Database #
############
export POSTGRESQL_DATABASE_NAME=database

############
# Network  #
############
export POSTGRESQL_EXPOSED_PORT=5434

############
# Client   #
############
export CLIENT_APPLICATION_NAME=db-training

# Connexion
export CONNECTION_STRING=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;